body {
	font-family: 'Montserrat', sans-serif;
}

/*Cabeçalho e rodapé*/

.nav-logo {
	height: 100px;
	width: 100px;
}

footer {
	text-align: center;
	background: linear-gradient(#FFFFFF, #FF9E81);
	padding: 10px 0;
}

.logo-rodape{
	display: inline;
	text-align: center;
}

.copyright {
	color: #FF5353;
	font-size: 13px;
	margin: 20px 0 0;
}

/*Página principal*/
.paisagem{
	margin: 0 10px;

}

.itens-paisagem{
	display: inline-block;
	width: 33%;
}

h2{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 30px;
	color: #FF5353;
	text-shadow: 1px 1px 2px rgb(255, 0, 0, 1);
}

/*Página Sobre*/

.historia{
	margin: 30px 30px;
}

.historia p{
	font-size: 18px;
	margin: 0 0 1em;
}